/*desktop*/
body{
    background-color: darkseagreen;
}

/*tablet*/
@media screen and (max-width:720px){
    body{
        background-color: magenta;
    }
}

/*mobile*/
@media screen and (max-width:540px){
    body{
        background-color:lightblue;
    }
}

/*desktop버전을 쓸땐 max-width로 쓰는게 좋음*/